<td valign="middle" class="hero bg_white" style="padding: 2em 0 4em 0;">
    <table>
        <tr>
            <td>
                <div class="text" style="padding: 0 2.5em; text-align: center;">
                    <h2>Hey {{FirstName}},</h2>
                    <br/>
                    <h3>You have been invited to contribute to the facility {{FacilityName}} on FacilityHub as
                        a {{InvitationType}} by {{InviterName}}.</h3>
                    <h3>Here is the link to get you started on contributing to the facility.</h3>
                    <p style="font-size: 25px; font-weight: bolder;"><b>{{AppUrl}}</b></p>
                </div>
            </td>
        </tr>
    </table>
</td>